.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 32px;
    height: 40px;
}

.form input[type="text"] {
    width: 272px;
    height: 40px;
    color: #000;
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.form input[type="text"]::placeholder {
    color: #808080;
}

.form input[type="text"]:hover {
    border-color: #000;
}

.form input[type="text"]:focus {
    border-color: #4e75ff;
    outline: none;
}

.btn-search {
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #4e75ff;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #6c8cff;
}