.loader {
    width: 60px;
    height: 60px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: radial-gradient(ellipse at center, #000 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, #000 48%, #000 52%, rgba(0, 0, 0, 0) 53%);
    background-size: 20px 20px, 20px auto;
    background-repeat: repeat-x;
    background-position: center bottom, center -5px;
    box-sizing: border-box;
}

.is-hidden {
    display: none;
}

.loader::before,
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: -20px;
    top: 0;
    width: 20px;
    height: 60px;
    background: radial-gradient(ellipse at center, #000 69%, rgba(0, 0, 0, 0) 70%), linear-gradient(to right, rgba(0, 0, 0, 0) 47%, #000 48%, #000 52%, rgba(0, 0, 0, 0) 53%);
    background-size: 20px 20px, 20px auto;
    background-repeat: no-repeat;
    background-position: center bottom, center -5px;
    transform: rotate(0deg);
    transform-origin: 50% 0%;
    animation: animPend 1s linear infinite alternate;
}

.loader::after {
    animation: animPend2 1s linear infinite alternate;
    left: 100%;
}

@keyframes animPend {
    0% {
        transform: rotate(22deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

@keyframes animPend2 {

    0%,
    55% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-22deg);
    }
}

.load-more {
    margin: 32px auto;
    width: 125px;
    height: 40px;
        font-size: 16px;
        color: #ffffff;
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
        background-color: #4e75ff;
}

.load-more:hover {
    background-color: #6c8cff;
}

.is-hidden {
    display: none;
}